<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>李朋第7次作业</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    
  <link rel="stylesheet" href="./public/style.css">
  <link rel="stylesheet" href="./common/css/style.css">

  <script src="./public/vue.min.js"></script>
  <script src="./public/dataEngine.js"></script>
  <script src="./public/vue-waterfall.min.js"></script>
  <!-- <script src="http://app.moptym.com/cdn/vue-waterfall/vue-waterfall.min.js"></script> -->

  <style>
      .item-move {
        transition: all .5s cubic-bezier(.55,0,.1,1);
        -webkit-transition: all .5s cubic-bezier(.55,0,.1,1);
      }
    </style>

</head>

<body>
  <div id="app" class="container">

    <div class="jumbotron">
      <h1 class="title">JavaScript编程入门</h1>
      <p>授课老师：徐高阳</p>
      <h3 class="panel-title">我的心里话</h3>
    </div>

    <!-- <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">我的心里话</h3>
        </div>
        <div class="panel-body">
          <div class="words-pannel" v-for="item in wordsList">
            <div class="media">
              <div class="media-left">
                <a href="#">
                    <img class="media-object avatar" v-bind:src="item.avatar" alt="...">
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <waterfall 
      :line-gap="200"
      :min-line-gap="100" 
      ref="waterfall"
      :max-line-gap="220" 
      :watch="wordsList"  
      :single-max-width="300"
      style="margin-left:5px"
    ><!-- @reflowed="reflowed"  这个属性用不了 2017.9.4 by haydn-->

      <!-- each component is wrapped by a waterfall slot -->   
      <waterfall-slot
        v-for="(item, index) in wordsList"
        :width="200"
        :height="280"
        :order="index"
        :key="item.id"
        move-class="item-move"
      >
        <div class="img-thumbnail">
            <div class="media">
              <div class="media-top">
                  <img class="media-object avatar" v-bind:src="item.avatar" alt="...">
              </div>

              <div class="media-body">
                <h4 class="media-heading" align="center" style = "margin:10%" align="center">
                  {{ item.name }}
                </h4>
                  <!-- {{ item.words }} -->
              </div>
            </div>

      </waterfall-slot>
    </waterfall>

  </div>



</body>

</html>
<script>


  new Vue({                   // 初始化Vue
    el: '#app',               // #app 和html中div#id的 app 对应
    data: {
      wordsList: fullWordList // 全局变量fullWordsList可以在html使用
    },
    components: {             // 添加 vue-waterfall 组件      
      'waterfall': Waterfall.waterfall,
      'waterfall-slot': Waterfall.waterfallSlot
    }
  });
</script>
